body {margin: 0px;}

b {font-stretch: 90%;}
body, td, p, .text, .boton {font-family: 'Open Sans', sans-serif; font-size: 17px;  font-stretch: 95%;}
h1 { font-size: 20px; text-align: center; margin-top: 0; margin-bottom: 15px;}
h1, h2, h3, .boton {font-family: 'Open Sans'; font-stretch: 90%;}
small {font-size: 8pt}
hr {height: 0px; border: solid #D1D7DC 0px; border-top-width: 1px;}

body, p, td, textarea, button {font-size: 16px;}
.pequeno {font-family: sans-serif; font-size: 12px; }

p {line-height: 1.7em; margin: 4px 0px;}

h1 {font-size: 32px; line-height: 1em;}
h2 {font-size: 20px; line-height: 2em;}
h3 {font-size: 18px; line-height: 2em;}
h1, h2, h3 {text-align: center; margin: 0.3em 0 0.3em 0;}

.marco {display: block; text-align: left; width: 88% !important;
border-bottom: 1px solid #104A7B; border-right: 1px solid #104A7B; border-left: 1px solid #AFC4D5; border-top:1px solid #AFC4D5; 
background-color: #FFFFFF;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;
margin-top: 18px; margin-bottom: 2.5em;
max-width: 800px;
padding: 5px 15px 5px 15px;}

table {border-collapse: collapse;}

hr {border: 0; height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc);}

#furigana {
  font-family: Meiryo; font-size: 20px; line-height: 2em;
}

rt {font-size: 12px; font-family: Meiryo UI;}

.boton{background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#79bbff),color-stop(1,#4197ee));background:-moz-linear-gradient(center top,#79bbff 5%,#4197ee 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff',endColorstr='#4197ee');background-color:#79bbff;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border:1px solid #469df5;display:inline-block;color:#ffffff!important;font-size:18px;font-family: 'Open Sans";'font-weight:bold;font-stretch: 90%;padding:6px 6px;text-decoration:none;text-shadow:1px 1px 0px #287ace;box-shadow:inset 0px 1px 0px 0px #cae3fc;}
.boton:hover{background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#4197ee),color-stop(1,#79bbff));background:-moz-linear-gradient(center top,#4197ee 5%,#79bbff 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee',endColorstr='#79bbff');background-color:#4197ee;}
.boton:active{position:relative;top:1px;}
.boton {font-size: 16px; margin: 5px;}

#results table {width: 100%; border: 0;}

#results td {padding: 5px; padding-top: 8px; border: 0;}

#results table tr:nth-child(odd) td{
    background: white;
}

#results table tr:nth-child(even) td{
    background: #edf2fc;
}

/* @media screen and (max-width: 600px) {
    #results table tr td:first-child {
        display: none;
    }
} */
